.country-list__item {
  font-size: 20px;
}
.country-description {
  list-style: none;
  line-height: 2;
  font-size: 20px;
  width: 450px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.country-name {
  position: relative;
  font-size: 50px;
  left: 50%;
}
.lang-list {
  list-style-type: disc;
  line-height: 1;
}
.country-flag {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 250px;
  height: auto;
}
.capital span {
  font-weight: bold;
}
.population span {
  font-weight: bold;
}
.lang {
  font-weight: bold;
}
